.swiper-container {
  width: 55vw;
  height:45vw;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  
}

.swiper-slide {
  text-align: center;
  font-size: 48px;
  font-weight: 500;
  position:relative;
  border:solid 3px; 
  border-color:rgb(228, 241, 252);
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide svg{
  position:absolute;
  top:0;
  left:-1px;
  width: 100%;
  height: 100%;
}


#corpusDropDown{
  margin-bottom: 5px;
}

.mapImage{
  width:55vw;
}

@media (min-width:360px) and (max-width:428px){
  .swiper-container {
    width: 80vw;
    height:300px;
  }
  .mapImage{
    width:80vw;
  }
  }

  @media (min-width:800px) and (max-width:1080px){
    #showButton{
      margin-left:30px;
    }
  }

.cabinet{
  fill:none;
  
  cursor:pointer;
  pointer-events: all;
}

.cabinet:hover{
  animation: cabinetHighlight 2s linear infinite;
}

@keyframes cabinetHighlight{
  0%{
    stroke:black;
    stroke-width: 3px;
  }
  100%{
    stroke:black;
    stroke-width: 3px;
  }
}
